* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;
}
html {
  scroll-behavior: smooth;
}
.navbar {
  height: 60px;
  background-color: #0f1111;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo {
  height: 50px;
  width: 100px;
}
.logo {
  background-image: url(./Images/amazon_logo.png);
  background-size: cover;
  height: 50px;
  width: 100px;
  cursor: pointer;
}
.border {
  border: 2px solid transparent;
}
.border:hover {
  border: 1.5px solid white;
}
.add-first {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 15px;
}
.add-sec {
  font-size: 1rem;
  margin-left: 3px;
  color: #fff;
}
.add-icon {
  display: flex;
  align-items: center;
  color: #fff;
}
.nav-address {
  padding: 5px;
  cursor: pointer;
}
::placeholder {
  position: relative;
  left: 10px;
}
.nav-search {
  display: flex;
  justify-content: space-evenly;
  background-color: pink;
  width: 900px;
  height: 40px;
  border-radius: 4px;
}
.search-select {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  outline: none;
}
.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
}
.search-icon {
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  background-color: #febd68;
  color: #0f1111;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
span {
  font-size: 0.7rem;
  color: #fff;
}
.nav-sec {
  font-size: 0.85;
  font-weight: 700;
  color: #fff;
}
.nav-search:hover {
  border: 2px solid orange;
}
.nav-cart i {
  font-size: 20px;
  color: #fff;
  margin-right: 5px;
}
.nav-cart {
  display: flex;
}
.ct {
  margin-top: 2px;
  font-weight: 700;
  font-size: 1rem;
}
.nav-cart {
  font-size: 0.85rem;
  font-weight: 700;
}
p {
  color: #fff;
}
.panel .panel-all i {
  color: #fff;
  margin-right: 5px;
  cursor: pointer;
}
.panel {
  height: 40px;
  background-color: #222f3d;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.panel-options p {
  display: inline;
  margin-left: 15px;
  cursor: pointer;
}
.panel-options {
  width: 80%;
  font-size: 0.85rem;
}
.panel-deals {
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
}
.panel .panel-all {
  display: flex;
}
.hero-section {
  background-image: url(./Images/hero_image.jpg);
  background-size: cover;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero-msg {
  background-color: #fff;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-bottom: 25px;
}
a {
  text-decoration: none;
  color: #007185;
}
.hero-section .hero-msg p {
  color: #000;
  font-size: 0.85rem;
}
.shop-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e2e7e6;
}
.box {
  /* border: 2px solid black; */
  height: 400px;
  width: 23%;
  background-color: #fff;
  padding: 20px 0px 15px;
  margin-top: 15px;
  /* border-radius: 10px; */
}
.nav-signin,
.nav-return,
.nav-cart {
  padding: 8px;
  cursor: pointer;
}
.bo {
  margin-bottom: 30px;
}
.box-img {
  height: 300px;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.box-content {
  margin-left: 1rem;
  margin-right: 1rem;
}
.box-content p {
  color: #007185;
}
.box-img1 {
  background-image: url(./Images/box1_image.jpg);
}
.box-img2 {
  background-image: url(./Images/box2_image.jpg);
}
.box-img3 {
  background-image: url(./Images/box3_image.jpg);
}
.box-img4 {
  background-image: url(./Images/box4_image.jpg);
}
.box-img5 {
  background-image: url(./Images/box5_image.jpg);
}
.box-img6 {
  background-image: url(./Images/box6_image.jpg);
}
.box-img7 {
  background-image: url(./Images/box7_image.jpg);
}
.box-img8 {
  background-image: url(./Images/box8_image.jpg);
}
.account {
  height: 150px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
footer {
  margin-top: 15px;
}
.foot-panel1 {
  background-color: #374758;
  color: #fff;
  height: 50px;
  display: flex;
  justify-content: center;

  align-items: center;
  font-size: 0.5rem;
}
.account p {
  color: #000;
}
button {
  width: 230px;
  height: 28px;
  background-color: #febd68;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bolder;
}
.redu {
  font-size: 12px;
}
.foot-panel1 a {
  color: #fff;
  font-size: 13px;
  cursor: pointer;
}
.box-content > p {
  cursor: pointer;
}
.foot-panel2 {
  color: #fff;
  background-color: #222f3d;
  height: 400px;
}
ul a {
  display: block;
  color: #cccccc;
  font-size: 15px;
  margin-top: 0.85rem;
  cursor: pointer;
}
.foot-panel2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
h5 {
  font-size: 18px;
}
.foot-panel3 {
  background-color: #222f3d;
  color: #fff;
  border-top: 0.5px solid gray;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo2 {
  background-image: url(./Images/amazon_logo.png);
  background-size: cover;
  height: 50px;
  width: 100px;
  cursor: pointer;
}
.foot-panel4 {
  height: 50px;
  width: 100%;
  background-color: #131a22;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot-panel4 .pages a {
  color: #fff;
  font-size: 15px;
  margin-right: 50px;
}
.foot-panel5 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #131a22;
}
.foot-panel5 p {
  font-size: 13px;
  margin-bottom: 20px;
}
